<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">


 {% block title %}
   {% if title %}
     <title>{{ title }}</title>
   {% endif %}
 {% endblock %}
</head>
<body>
{% block content %}
<nav>
 {% block navbar %}
 <div class="navbar">
 <ul class="navbar">
   {% if current_user.is_authenticated %}
    <!-- Пункты меню для залогиненного пользователя -->
    {% for m in menu %}
     <a href="{{ url_for(m.url) }}">{{ m.name }}</a>
    {% endfor %}

     <div class="dropdown">
       <button class="dropbtn">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{ url_for('logout') }}">Выйти</a>
     </div>
    {% endif %}
 </ul>
 </div>
 {% endblock navbar %}
</nav>

 <div class="container alert-container">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
   {% for cat, msg in get_flashed_messages(True) %}
     <div class="flash {{cat}}" id="flash-message">
      {{ msg }}
     </div>
   {% endfor %}
  </div>
 </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
 $(document).ready(function(){
   // Скрывать сообщение через
   setTimeout(function(){
     $("#flash-message").fadeOut("slow");
   }, 2000);
 });
</script>

{% endblock content %}

</body>
</html>
