{% extends 'base.html' %}

{% block content %}
    {{ super() }}

<div id="timer-container">
    <div id="timer">{{ rest_time }}</div>

    <audio id="timerSound">
        <source src="{{ url_for('static', filename='alarm.mp3') }}" type="audio/mp3">
    </audio>

    <button onclick="stopTimer()">Стоп</button>
</div>

    <script>
        var timer;
        var seconds = {{ rest_time }};

        function startTimer() {
            timer = setInterval(updateTimer, 1000);
        }

        function updateTimer() {
            seconds--;

            if (seconds <= 5) {
                playTimerSound();  // Воспроизведение звука за 5 секунд до конца таймера
            }

            if (seconds <= 0) {
                clearInterval(timer);
                // Редирект на '/set/start' после завершения таймера
                window.location.href = '{{ url_for("start_set") }}';
            }

            document.getElementById('timer').innerHTML = seconds;
        }

        function stopTimer() {
            clearInterval(timer);
            // Редирект на '/set/start' при принудительной остановке
            window.location.href = '{{ url_for("start_set") }}';
        }

function playTimerSound() {
        var audio = document.getElementById('timerSound');

        // Проверяем, поддерживает ли браузер воспроизведение звука
        if (audio.canPlayType && audio.canPlayType('audio/mpeg;').replace(/no/, '')) {
            audio.play();
        } else {
            alert("Ваш браузер не поддерживает воспроизведение звука.");
        }
    }

        // Запуск таймера при загрузке страницы
        startTimer();
    </script>
{% endblock %}
