{% extends 'base.html' %}

{% block content %}
  {{ super() }}

  <form action="{{url_for('add_workout')}}" method="post" class="form-contact">
   <label>Тип:</label>
     <select name="type" id="type">
       {% for type in types %}
         <option value="{{ type.id }}">{{ type.type }}</option>
       {% endfor %}
     </select>
   <input type="submit" name="action" value="Продолжить тренировку"/>
   <input type="submit" name="action" value="Создать новую тренировку"/>
 </form>

{% endblock %}
