{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <table>
    <tr>
      <th>Упражнение</th>
      <th>Сет</th>
      <th>Повторы</th>
      <th>Вес</th>
      <th>Продолжительность</th>
      <th>Отдых</th>
    </tr>
    {% set uniqueTitles = workout.sets|groupby('exercise.title') %}
    {% for title, sets in uniqueTitles %}
      {% set sorted_sets = sets|sort(attribute='index') %}
      {% set firstSet = sorted_sets[0] %}
      <tr>
        <td rowspan="{{ sorted_sets|length }}">{{ title }}</td>
        <td><a href="{{ url_for('update_set', set_id=firstSet.id) }}" class="workout-link"> {{ firstSet.index }} </a></td>
        <td>{{ firstSet.reps }}</td>
        <td>{{ firstSet.weight }}</td>
        <td>{{ firstSet.duration.strftime('%M:%S') }}</td>
        <td>{{ firstSet.rest.strftime('%M:%S') }}</td>
      </tr>
      {% for set in sorted_sets[1:] %}
        <tr>
          <td><a href="{{ url_for('update_set', set_id=set.id) }}" class="workout-link"> {{ set.index }}  </a></td>
          <td>{{ set.reps }}</td>
          <td>{{ set.weight }}</td>
          <td>{{ set.duration.strftime('%M:%S') }}</td>
          <td>{{ set.rest.strftime('%M:%S') }}</td>
        </tr>
      {% endfor %}
    <tr style="height: 10px;"></tr> <!--  Пустая строка между блоками -->
    {% endfor %}
  </table>

  <form action="{{ url_for('delete_workout', workout_id=workout.id) }}" method="post">
    <input type="submit" value="Удалить тренировку">
  </form>
{% endblock %}
