{% extends 'base.html' %}

{% block content %}
 {{ super() }}

 <h2>Редактирование сета</h2>
 <form method="post">
  <label for="index">Порядковый номер:</label>
  <input type="text" name="index" id="index" value="{{ set_info.index }}"><br>

  <label for="reps">Повторы:</label>
  <input type="text" name="reps" id="reps" value="{{ set_info.reps }}"><br>

  <label for="weight">Вес:</label>
  <input type="text" name="weight" id="weight" value="{{ set_info.weight }}"><br>

  <label for="start">Начало:</label>
  <input type="text" name="start" id="start" value="{{ set_info.start }}"><br>

  <label for="stop">Окончание:</label>
  <input type="text" name="stop" id="stop" value="{{ set_info.stop }}"><br>

  <label for="duration">Продолжительность:</label>
  <input type="text" name="duration" id="duration" value="{{ set_info.duration }}"><br>

  <label for="rest">Отдых:</label>
  <input type="text" name="rest" id="rest" value="{{ set_info.rest }}"><br>

  <input type="submit" value="Сохранить">
 </form>
 <form action="{{ url_for('delete_set', set_id=set_info.id) }}" method="post">
  <input type="submit" value="Удалить сет">
 </form>

{% endblock %}
